.custom-color-1 {
    color: #A0522D;
}

.intro-section {
    background-image: url('../../images/intro-image.jpg');
    height: 600px;
    background-size: cover;
    width: 100%;
}

.intro-section h2 {
    font-size: 60px;
}

.intro-section h2 span {
    color: #A0522D;
}

.reason-section {
    background-image: linear-gradient(to right, #fafafa, #eff1f0);
    ;
}

.reason-section .left-side {
    background-image: url('../../images/different.jpg');
    height: 600px;
    background-size: cover;
    width: 100%;
}